*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1.15;
}

body 
{
    background: #fff2f6;
    color: #0E0E0E;
    font-family: 'Days One', sans-serif;
    font-family: 'Lora', serif;
   
}

section, header {
    width: 80%;
    max-width:800px;
    margin: auto;
}

img { 
    display: block;
    padding: 0;
    max-width: 100%;
}

.mainimg {
    margin : 4em auto ;
}
.kernloose {letter-spacing: 5px;}
.imgbtm {margin-bottom: 4rem;}

.topimg {
    margin-top: 0;
    margin-bottom: 4rem;
}

h1, h2, .logo, blockquote {
    color: #B0333A;
    font-family: 'Days One', sans-serif;
}

p, blockquote {
    margin-bottom: 1.5rem;
    line-height: 1.5
}

h2 {
    color: #E97FA3;
    font-family: 'lora', serif;
    font-size: 2.027rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}

h1 {
    font-size: 3.027rem;
    color:#B0333A;
    font-family: 'Days One', sans-serif;
    margin-bottom: 5rem;
}

p {
    line-height: 1.5;
    margin-bottom: 2.5rem;
    font-size: 16px;
    font-family: 'Hind Madurai', sans-serif;
}

blockquote {
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-size: 16px;
    font-family: 'Lora', serif;
    hanging-punctuation: first;
    text-indent: -0.7;
    color: #B0333A;
}

cite {
    font-size: 1rem;
    text-transform: uppercase;
    color: #E97FA3;
    font-style: normal;
}

header h2 {
    font-size: 2.25;
    font-style: italic;
    font-family: 'Days One', sans-serif;
    color:  #E97FA3;
}

header p {
    font-size: 1.3rem
}

.leader {
    text-transform: uppercase;
}

.dropcap {
    font-family: 'Days One', sans-serif;
    float: left;
    line-height: 55%;
    width: .7em;
    font-size: 400%;
    color: #E97FA3; 
}

.responsivenav {
    background: #E97FA3;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    

#logo {     
    font-size: 1.5rem;
    color: #f7f7f7;
    font-family: 'Days One', sans-serif;
    padding-left: 32px; }

a {
    color:#0E0E0E;
    text-decoration: none
}

a:hover {
    color: rgb(115, 133, 0);
    border-bottom: 1px dotted;
}



nav {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #E97FA3;
    padding: 2rem 0 ;
    font-size: 0.8rem;
}

nav ul{
    padding-right: 5rem;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;

}


nav a:link {
    color: #0E0E0E;
}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

nav a:visited {
 color: #fff;
}

nav a:hover {   
    border-bottom: none;
    colour: #000;
    transition: all 0.3s ease-in-out;

}

.imgsmall {
    max-width: 800px;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr)) ; 
}

.dark {
    background: #E97FA3;
    color: #f7f7f7;
    padding: 6rem 0;
}

.dark h2, blockquote, cite {
    color: #f7f7f7;
}

.dark a {
    color: #f7f7f7;
    font-weight: bold;
    border-bottom: 1px dotted;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
    padding-right: 30vw;
  }
  
  .list ul{
    line-height: 1.5;
    margin-left: 0;
}

.list li {
    margin: 1rem 0;
    line-height: 1.5;
    list-style: none;

}

hr {
    margin: 100px 0;
    height: 1px;
    background-color: #E97FA3;
    color: #E97FA3;
    border: 0 none;
}
.connections{
    position: relative;
    margin: 0 auto;}
.connections ul{
    margin: 0;
    padding: 0;}
.connections li{
    margin: 0 10px;
    padding: 0;
    list-style: none;
    display: inline-block;  }
.connections a:link{
        border-bottom: none;       }
.connections img, .connections svg{
    border: none;}
.connections a:hover img, .connections a:hover svg{
    border-bottom: none;}
 .connections svg {
    margin: 2rem auto;}
.connections a:hover svg path {
    fill: #333;
    transition: all 0.2s ease-in-out;}
footer .connections a:hover svg path {
    fill:  #C2C2C2;
    transition: all 0.2s ease-in-out;}